img{
  width: 400px;
}

h1{
  font-size: 75px;
  margin-bottom: 100px;
}

.restartButton{
  font-size: 30px;
}

@media only screen and (max-width: 1500px){
  img{
    width: 200px;
  }
}

@media only screen and (max-width: 600px){
  img{
    width: 100px;
  }
}
